# all values are optional

# port to run the server on
# default 24153
PORT=24153

# if set, vertd will attempt to notify you via a discord webhook when a video fails to convert.
# for help on how to create them, see https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks
WEBHOOK_URL=your_discord_webhook_here

# webhook pings -- these will be formatted into the main message
WEBHOOK_PINGS="<@&role_id> <@user_id>"

# if true, vertd will attempt to retry failed conversions on the CPU before giving up (if original conversion was on GPU).
# this will reduce the number of failed conversions drastically (especially failures due to decoder/encoder limitations),
# but at the cost of much longer conversion times and strain on the CPU and RAM (especially for large videos and many concurrent conversions).
ALLOW_CPU_FALLBACK=true

# admin password for kept videos. i will cry in front of you if you tell me this is bad practice.
# make sure to set this to something unique and hard to guess! ideally really really long too
ADMIN_PASSWORD=supersecret

# used for kept video access
PUBLIC_URL=https://vertd.your-domain.here